In [5]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine

# load the combined dataset
df_sorted = pd.read_csv("IMDb_movies.csv") 

# MySQL connection details

conn = mysql.connector.connect(
         host = 'localhost',
         user = 'root',
         password = 'root',
         database = 'b10'
)

# create a cursor object

cursor = conn.cursor()

#Create table

create_table_query = """
                        CREATE TABLE IF NOT EXISTS combined_movies
                        (
                            Title VARCHAR(255),
                            Rating FLOAT,
                            Votes INT,
                            Duration VARCHAR(50),
                            Voting_Countss INT
                            );
                            """
cursor.execute(create_table_query)
conn.commit()

print("Table created successfully")

Table created successfully

In [9]:
# use SQLAlchemy to insert the sorted DataFrame into MySQL

#Create an SQLAlchemy engine
engine = create_engine(f"mysql+mysqlconnector://root:root@localhost/b10")

# Store DataFrame in MySQL

df_sorted.to_sql(name="combined_movies",con=engine, if_exists="replace",index=False)
print("Sorted data inserted into MySQL successfully")

Sorted data inserted into MySQL successfully

In [11]:
query= "SELECT * FROM combined_movies LIMIT 3956;"
df_sql = pd.read_sql(query, engine)
print(df_sql)

                                                  Title  Rating  votings  \
0                                 1. The Electric State     5.9       49
1                                          2. Novocaine     6.8       49
2                               5. Sonic the Hedgehog 3     6.9       49
3              6. The Ministry of Ungentlemanly Warfare     6.8       49
4                               7. Deadpool & Wolverine     7.6       49
...                                                 ...     ...      ...
3948                           95. Across the Continent     5.5        7
3949                               96. The Jersey Devil     5.6        7
3950                            97. The Radio Detective     6.1        7
3951                                         100. Hogan     7.5        7
3952  106. Aftermass: Bicycling in a Post-Critical M...     9.2        7

     Duration  voting_counts
0       2h 5m        45000.0
1      1h 50m        11000.0
2      1h 50m        54000.0
3       2h 2m       133000.0
4       2h 8m       483000.0
...       ...            ...
3948       1h           25.0
3949   1h 43m           27.0
3950   3h 18m           28.0
3951   1h 48m           16.0
3952   1h 15m            7.0

[3953 rows x 5 columns]

In [28]:
import pandas as pd

#use the fetchhed data
df = df_sql.copy()

#  Display max values
print("Maximum Rating:",df['Rating'].max())
print("Maximum Votings:",df['votings'].max())
print("Maximum Voting Counts:",df['voting_counts'].max())

Maximum Rating: 9.7
Maximum Votings: 49
Maximum Voting Counts: 1300000.0

In [34]:
# Get top 10 movies by rating counts
top_10_by_rating = df.nlargest(10,'Rating')

#Get top 10 movies by voting counts
top_10_by_voting_counts = df.nlargest(10, 'voting_counts')

print("\nTop 10 movies by Rating:\n", top_10_by_rating)
print("\nTop 10 movies by  Voting Counts:\n", top_10_by_voting_counts)

Top 10 movies by Rating:
                                                   Title  Rating  votings  \
2965                              3201. Nothing Unusual     9.7       49
3364               474. Mahout: The Great Elephant Walk     9.5       16
3352       445. Sehnsucht nach einer unbekannten Heimat     9.4       16
3380  515. Prince Oak Oakleyski: Lord Kandanai Manee...     9.3       16
1241                                    1325. Bidurbhai     9.2       49
1328                                1417. Deck of Cards     9.2       49
3297                                   342. 14000 Miles     9.2       16
3689                               295. Outcast Forever     9.2       13
3805                                     449. Druglawed     9.2       13
3825                          492. Cast the First Stone     9.2       13

     Duration  voting_counts
2965   1h 32m           12.0
3364   1h 28m           10.0
3352   1h 15m           18.0
3380       1h           62.0
1241   2h 28m          376.0
1328      45m          297.0
3297   1h 34m           23.0
3689   1h 24m           32.0
3805   1h 40m          136.0
3825   1h 33m            9.0

Top 10 movies by  Voting Counts:
                                       Title  Rating  votings Duration  \
15              19. Guardians of the Galaxy     8.0       49    2h 1m
29                             33. Deadpool     8.0       49   1h 48m
54                       58. Thor: Ragnarok     7.9       49   2h 10m
60       65. Guardians of the Galaxy Vol. 2     7.6       49   2h 16m
40         44. Kingsman: The Secret Service     7.7       49    2h 9m
107                            114. Ant-Man     7.2       49   1h 57m
35    39. Spider-Man: Into the Spider-Verse     8.4       49   1h 57m
52                           56. Deadpool 2     7.6       49   1h 59m
3010                       2. Into the Wild     8.1       16   2h 28m
77                           82. Zombieland     7.5       49   1h 28m

      voting_counts
15        1300000.0
29        1200000.0
54         850000.0
60         790000.0
40         749000.0
107        747000.0
35         723000.0
52         708000.0
3010       677000.0
77         643000.0